@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=PT+Sans&family=Poppins:wght@200&family=Tiro+Telugu&family=Varela+Round&display=swap');
#content {
  max-width: 1600px;
  margin: auto;
}
/*Home Page*/
nav a {
    text-align: center;
    color: #1063df;
    background-color: #08b2c9;
    text-decoration: none;
    font-family: Poppins, Varela Roun, PT Sans, Josefin Sans;
    padding: 35px;
    font-weight: 700;
    font-size: 20px ;
    background-color: #093c88;

}
.logo {
    width: 90px;
}
nav {
    display: flex;
    justify-content: space-evenly;
}
nav a:hover {
    background-color: #edf5f4;
    color: #093c88;
    text-decoration: none;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color:#08b2c9;
}


#trip {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr ;
    margin-top: -100px;
}

#trip-img {
    grid-column: 1/4;
    grid-row: 1/2;
    z-index: -1;
    width: 100%;
} 
.roads {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
}
.roads1 {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 500px;
    height: 500px;
}
.roads p {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 200px;
    height: 500px;
    text-align:justify;
    align-self:center;
    justify-self: center;
    font-size: 15px;
    font-family: Poppins, PT Sans, Varela Roun, Josefin Sans;
}
.roads2 {
    grid-column: 3/4;
    grid-row: 1/2;
    width: 500px;
    height: 500px;
}
.pitch {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
}
.pitch p {
    grid-column: 1/3;
    grid-row: 1/2;
    font-family: Poppins, PT Sans, Varela Roun, Josefin Sans;
    font-size: 15px;
    width: 1300px;
    height: 250px;
    text-align:justify;
    line-height: 30px;
    align-content: center;
    justify-content: center;
}
p {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.photo1 {
    grid-column: 1/2;
    grid-row: 1/3;
    width: 500px;
    height: 400px;
}
.photos p{
    grid-column: 2/3;
    grid-row: 1/2;
    width: 300px;
    height: 250px;
    text-align: justify;
    font-family: Poppins, PT Sans, Varela Roun, Josefin Sans;
    font-size: 15px;
}
.contactus {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 300px;
    height: 150px;
    position: relative;
    text-decoration: none;
    color: #1063df;
    font-size: 15px;
    background-color: #093c88;
    padding: 25px;
    font-family: Varela Roun,  Poppins, PT Sans, Josefin Sans; 
}
h3{
    background-position-x: center;
    text-align: center;
}
.photos a:hover {
    background-color: #08b2c9;
    color: #1063df;
}
.photo2 {
    grid-column: 3/4;
    grid-row: 1/3;
    width: 500px;
    height: 400px;
}



/*WHERE Page*/
#go {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -100px;
    margin-bottom: 10px;
}
#go1 {
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: -1;
    width: 714px;
    height: 700px;
}
#go2 {
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: -1;
    width: 673px;
    height: 700px;
    margin-left: -50px;
}

.look, .watch{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 10px;
}
.look1, .watch1{
    grid-column: 1/2;
    grid-row: 1/2;
     width: 500px;
    height: 500px;
}
.look p, .watch p {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 400px;
    height: 500px;
    font-size: 15px;
    font-family: Poppins, Varela Roun, PT Sans, Josefin Sans ;
    line-height: 25px;
    text-align: justify;
}
.look2, .watch2{
    grid-column: 3/4;
    grid-row: 1/2;
     width: 400px;
    height: 500px;
}


.see {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 10px;
}
.see1 {
    grid-column: 1/2;
    grid-row: 1/3;
    width: 500px;
    height: 500px;
}
.see p {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 400px;
    height: 300px;
    font-size: 15px;
    font-family: Poppins, Varela Roun, PT Sans, Josefin Sans ;
    line-height: 30px;
    
}
.choose {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 400px;
    height: 200px;
    color: #edf5f4;
    background-color: #093c88;
    font-size: 20px;
    padding: 30px;
    font-family: Varela Roun,  Poppins, PT Sans, Josefin Sans;
}
.see2 {
    grid-column: 3/4;
    grid-row: 1/3;
    width: 400px;
    height: 500px;
    font-family: Poppins, Varela Roun, PT Sans, Josefin Sans ;
}
.see h3 :hover {
    background-color: #08b2c9;
    color: #1063df;
}

/*EVENTS Page*/
#wedding {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -100px;
    
}
#wedded {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 713px;
    height: 800px;
    z-index: -1;
    margin-bottom: 20px;
}
#married {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 670px;
    height: 800px;
    z-index: -1;
    margin-bottom: 20px;
    margin-left: -50px;
}

.text {
    display: grid;
    grid-template-columns: 2fr 2fr;
}
p {
    grid-column: 1/3;
    grid-row: 1/2;
    font-size: 15px;
    font-family: Poppins, Varela Roun, PT Sans, Josefin Sans;
    text-align: justify;
    margin-bottom: 20px;
}

.bride {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr
}
.bride1 {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 500px;
    height: 500px;
}
.bride p {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 13px;
    font-family: Varela Roun,  Poppins, PT Sans, Josefin Sans;
    text-align: justify;
    margin-bottom: 20px;
    width: 300px;
    height: 500px;
    display: flex;
    align-items: center;
    line-height: 30px;
}
.bride2{
    grid-column: 3/4;
    grid-row: 1/2;
    width: 500px;
    height: 500px;
}
.bouquet {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: -40px;
}
.bouquet1 {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 500px;
    height: 500px;
}
.ord {
    Display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.ord1 {
    grid-column: 1/2;
    grid-row: 1/3;
    width: 500px;
    height: 500px;
}
 .ord p {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 300px;
    height: 250px;
    display: flex;
    align-items: center;
    line-height: 30px;
 } 

 
.goto {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 300px;
    height: 250px;
    text-align: center;
    padding: 30px;
    background-color: #05045a;
    color: #edf5f4;
 }
 .ord h3 :hover {
   background-color: #08b2c9;
   color: #05045a;
 
 }
 .ord2 {
    grid-column: 3/4;
    grid-row: 1/3;
    width: 500px;
    height: 500px;
 }
  


/*CONTACT US CSS*/
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
    
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
  }
  #feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;       
}
.moveDown {
    margin-top: 3em;
}
 main {
    margin-bottom: 160px;
 }        
/*END OF CONTACT US CSS*/





/*footer*/
footer {
    background-color: #08b2c9;
    background-size: 90px;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
footer h2 {
    font-size: 10px;
    color: #edf5f4;
}

footer h3 {
    color: #edf5f4;
    font-family: Varela Roun,  Poppins, PT Sans, Josefin Sans;
    font-size: 20px;
    padding: 25px;
    background-color: #093c88;
}

footer a {
    color: #1063df;
    text-decoration: none;
    margin-top: 50px;
   
  
}
footer h3:hover {
    background-color: #edf5f4;
    color: #093c88;
}
