@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Alfa+Slab+One&family=Cinzel:wght@600&family=Hind:wght@300&family=Nunito&family=Permanent+Marker&family=Play&family=Rajdhani:wght@700&family=Skranji&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: rgb(236, 239, 241);
    text-decoration: none;
    font-family: Acme, abril Fatface, Hind Siliguri, Arial, Helvetica, sans-serif;
    padding: 35px;

}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: #fcfbfb; 
    font-size: 22px;
    padding: 0;
    margin: 0;
}
header {
    background-color:rgba(20,30,13, .7);
}
nav a:hover {
    background-color: black;
    color: rgb(122, 184, 212);
    text-decoration: none;
}
.book, .join {
     background-color: rgb(188, 187, 243);
     color: rgb(31, 6, 139);
     text-decoration: none;
     font-family: acme, abril Fatface, Hind Siliguri, Arial, Helvetica, sans-serif;
     font-size: 18px;
     padding: 15px 30px;
     margin-top: 50px;
     border-radius : 5px;
}
.book:hover, .join:hover {
    background-color: rgb(76, 109, 124);
    color: white;
}
#background {
    background-color: rgb(163, 115, 147);
    margin-bottom: 50px;
}
.msg {
    background-color: rgb(156, 124, 116);
    color: black;
    font-family: Hind Siliguri, abril Fatface, acme, Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    padding: 35px;
    margin-top: 50px;
 }
footer {
    background-color: rgb(156, 124, 116);
    padding: 25px 50px;
    margin-top: 200px;
}
.home-title {
    color: cornflowerblue;
    font-family: acme, hind, abril Fatface, Hind Siliguri,Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h1 {
    color: rgb(41, 204, 233);
}
h4 {
    color: rgb(87, 39, 150);
    font-family: cinzel, Arial, Helvetica, sans-serif;
}
footer h3 {
    color: rgba(247, 242, 242, 0.938);
    font-family:  Hind Siliguri, acme, abril Fatface, Arial, Helvetica, sans-serif;
}
footer a {
    color: rgb(238, 160, 190);
    text-decoration: none;
    font-family: acme, abril Fatface, Hind Siliguri, Arial, Helvetica, sans-serif;
    margin-top: 200px;
}
footer a:hover {
    color: white;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
.msg h2 {
    font-family: Skranji, acme, abril Fatface, Hind Siliguri, Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
    font-family: cinzel, acme, abril Fatface, Hind Siliguri, Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    color: rgb(167, 87, 7);
}
.msg p {
   font-size: .8em;
   padding-bottom: 15px;
   color: rgb(226, 222, 216);
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
} 
#logo_link {
     padding-top: 5px;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
   margin: 200px 0;
}
.card-img {
    border: 10px solid rgb(236, 207, 200);
}
main section img {
    box-sizing: border-box;
}
